.box {
    display: flex;
    justify-content: space-between;
}

.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

input, select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the submit button */
button {
    width: 50%;
    background-color: #4E4E50;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
button:hover {
    background-color: black;
}


